@import './variables';

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: $border-radius;
  padding: $spacing-small $spacing-medium;
  font-size: $font-size-base;
  transition: background-color 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

input, textarea {
  padding: $spacing-small;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: $font-size-base;
  width: 100%;
  box-sizing: border-box; // Da padding ne povecava sirinu
}