.rightbar{
    flex: 4;
    height: calc(100vh - 50px);
    background-color: lightgrey;
}

.rightbarWrapper{
    padding: 20px;
    background-color: darkblue;
}

.rightbarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: lightgrey;

}

.rightbarIcon{
    margin-right: 15px;
}